:root{
    --main-color: #4d5ae5;
    --icon-white-color: #f4f4fd;
    --primary-color: #4d5ae5;
    --hover-color: #31d0aa;
    --white-color: #ffffff;
    --icon-color: #f4f4fd;
    --black-color: #2E2F42;
    --grey-color: #8e8f99;
    --blue-color: #404bbf;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body{
    margin: 0;
}

html{
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
    flex-grow: 1;
}

ul {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    font-size: 56px;
    line-height: 60px;
}

h2 {
    font-size: 36px;
}

a {
    color: #434455;
    font-size: 12px;
    text-decoration: none;
}

img{
    display: block
}

.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header_container{
    display: flex;
}

.header_nav{
    display: flex;
    align-items: center;
}

a:hover {
    color: #404bbf;
}

.header_list, .address_list{
    display: flex;
    list-style: none;
    gap: 40px;
}

.header_list_a{
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header_list_a.current{
    position: relative;
    color: #404bbf;
}

.header_list_a.current::after {
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404BBF;
    border-radius: 2px;
}

.header_list_a:focus{
    color: #404bbf;
}

.address{
    display: flex;
    align-items: center;
    font-style: normal;
    margin-left: auto;
}

.address_contact{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address_contact:focus{
    color: #404bbf;
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo_p{
    color: #2e2f42;
}

.logo_p_footer{
    color: #f4f4fd;
}

p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.order_service {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(./images/office-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 188px 0;
    margin: 0 auto;
    max-width: 1440px;
}

.order_service>div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.order_service_titre{
    color: white;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    max-width: 496px;
}

.order_service_btn {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order_service_btn:hover {
    background-color: #404BBF;
}

.order_service_btn:focus{
    background-color: #404BBF;
}

.features, .team{
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features_list{
    display: flex;
    list-style: none;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.features_skil{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    flex-basis: calc((100% - 72px) / 4);
}

.features-container-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
}

.features_skil_text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.features_titre, .portfolio_titre{
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px;
}

.features_list_titre, .team_list_titre, .portfolio_list_titre{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team {
    background-color: #f4f4fd;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team_list{
    display: flex;
    list-style: none;
    gap: 24px;
    flex-wrap: wrap;
    margin-top: 72px;
}

.team_people{
    background-color: #FFFFFF;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team_people_container{
    padding: 32px 0;
}

.team_list_titre{
    text-align: center;
}

.team_text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
}

.socialmedias{
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style: none;
}

.socialmedia_icon{
    width: 40px;
    height: 40px;
}

.socialmedia_link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialmedia_link:hover, .socialmedia_link:focus{
    background-color: #404BBF;
}

.icon{
    fill: var(--icon-white-color);
}

.portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio_list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    list-style: none;
}

.portfolio_item{
    flex-basis: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: start;
}

.portfolio_item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio_img{
    position: relative;
    overflow: hidden;
}

.img_text{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    font-weight: 400;
    color: #F4F4FD;
    padding: 40px 32px;
    background-color: #4D5AE5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio_item:hover .img_text {
    transform: translateY(0%);
}

.portfolio_item_container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio_list_titre{
    margin-bottom: 8px;
}

.portfolio_titre{
    margin-bottom: 72px;
}

.portfolio_text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer{
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer_content {
    display: flex;
    align-items: baseline;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer_logo_text {
    margin-right: 120px;
}

.footer_text{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    width: 264px;
}

.logo_footer{
    display: inline-block;
    margin-bottom: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.social_text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color);
    margin-bottom: 16px;
}

.social_list{
    display: flex;
    gap: 16px;
    list-style: none;
}

.social_item {
    width: 40px;
    height: 40px;
}

.social_link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social_link:hover, .social_link:focus {
    background-color: var(--hover-color);
}

.social_icon{
    fill: var(--icon-color);
}

.form_content {
    margin-left: 80px;
}

.form_text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.form {
    display: flex;
    gap: 24px;
}

.input_e-mail {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

input::placeholder {
    color: #ffffff;
}

.form_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 165px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.btn_icon {
    margin-left: 16px;
}

.modal_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 72px 24px 24px 24px;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_btn:hover,
.modal_btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal_btn:hover .close_icon,
.modal_btn:focus .close_icon {
    fill: #ffffff;
}

.close_icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_container_text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--black-color);
    margin-bottom: 16px;
}

.form_area {
    margin-bottom: 8px;
}

.form_label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--grey-color);
}

.user_info {
    position: relative;
}

.user_input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user_info:focus {
    border-color: #4D5AE5;
}

.user_input_icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user_input:focus{
    border-color: #4D5AE5;
}

.user_input:focus + .user_input_icon{
    fill: #4D5AE5;
}

.form_comment_area{
    margin-bottom: 16px;
}

.textarea_comment{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea_comment:focus{
    border-color: #4D5AE5;
}

.form_privacy_area{
    margin-bottom: 24px;
}

.privacy_label{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--grey-color);
}

.privacy_span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}

.user_privacy:checked + .privacy_span {
    background-color: var(--blue-color);
    border: none;
    fill: var(--icon-color);
}

.privacy_link{
    color: var(--main-color);
}

.modal_form_btn{
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}